<template>
  <div id="app">
    <input type="text" v-model="tokenStore">

    <h3>Token Store: {{tokenStore}}</h3>
    <h3>Token Plugin: {{tokenPlugin}}</h3>

    <button @click="fetchToken">Fetch token</button>
  </div>
</template>

<script>
export default {
  computed: {
    tokenStore: {
      get () {
        return this.$store.state.token
      },
      set (token) {
        this.$store.commit('setToken', token)
      }
    },
    tokenPlugin () {
      return this.$http()
    }
  },
  methods: {
    fetchToken () {
      this.$store.dispatch('fetchToken')
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
